body {
  background-color: black;
  color: #FF0000;
  font-family: 'Courier', Courier, monospace;
}

h1, p {
  color: #FF0000;
  font-family: 'Courier', Courier, monospace;
}

input {
  background-color: rgba(255, 0, 0, 0);
  color: #FFF000;
  font-family: 'Courier', Courier, monospace;
  padding: 8px;
  margin: 5px;
  border: none;
  position: relative;
  outline: none; /* Remove the default outline */
}

input::before {
  content: '|'; /* Use a pipe character as a cursor */
  color: #FF0000;
  position: absolute;
  left: 0;
  animation: curs
