body {
  background-color: black;
  color: #FF0000; /* Bright Red */
  font-family: 'Courier', Courier, monospace;
}

h1, p {
  color: #FF0000;
  font-family: 'Courier', Courier, monospace;
}

input {
  background-color: rgba(255, 0, 0, 0);
  color: #FFF000; /* Set to the same bright red as other text */
  font-family: 'Courier', Courier, monospace;
  padding: 8px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

#result {
  color: #FF0000;
  font-style: italic;
}

